__pycache__/
*.pyc

# Entornos virtuales
venv/
.venv/
node_modules/

# Configuraciones de editor
.vscode/

# Claves y configuraciones sensibles
keys/*
!keys/.gitkeep

# Bibliotecas o directorios específicos
TenSEAL/

# Archivos de configuración
*.env
.env

# Excluir static/keys completamente
static/keys/
